@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 5;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 20px;
  border-radius: 5px;
}

.small-container {
  display: flex;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  border: 3px solid steelblue;
  border-radius: 5px;
  padding: 5px;
  justify-content: space-between;
  padding-right: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-family: inherit;
}

.btn-block1 {
  background-color : steelblue;
  display: block;
  width: 100%;
}

.btn-block2 {
  background-color : green;
  display: block;
  width: 100%;
}


.form-control {
  margin: px 0;
}

.add-form {
  margin-bottom: 40px;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 12px;
  margin-bottom : 15px;
}

.form-control label {
  margin-left: 8px;
}

.form-control2 label {
  margin-left: -8px;
}


.add-form h4{
  margin-left : 45%;
}

.form-control2 input {
  width: 20%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 12px;
  margin-bottom : 20px;
}

.form-control p {
  font-size : 15px;
  margin-top : 10px;
}

.person {
  background: #f4f4f4;
  margin: 5px;
  line-height : 0.5;
  justify-content: "space-between";
  display: 'flex';
}

.footer {
  margin-top: 30px;
}
